<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Salesforce Test Suite" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>
    <test name="ClearCache">
        <classes>
            <class name="clearCache.ClearCache"/>
        </classes>
    </test>
    <test name="Preparation">
        <classes>
            <class name="tests.Preparation"/>
        </classes>
    </test>
    <test name="THY-510: ValidationRule1">
        <classes>
            <class name="tests.ValidationRules.ValidationRule1"/>
        </classes>
    </test>
    <test name="THY-510: ValidationRule2">
        <classes>
            <class name="tests.ValidationRules.ValidationRule2"/>
        </classes>
    </test>
    <test name="THY-510: ValidationRule3">
        <classes>
            <class name="tests.ValidationRules.ValidationRule3"/>
        </classes>
    </test>
    <test name="THY-510: ValidationRule4">
        <classes>
            <class name="tests.ValidationRules.ValidationRule4"/>
        </classes>
    </test>
    <test name="THY-487: Reservation creation process">
        <classes>
            <class name="tests.ReservationCreationProcess"/>
        </classes>
    </test>
    <test name="THY-523: Total_amount_incl_Tax__c">
        <classes>
            <class name="tests.TotalAmountInclTax"/>
        </classes>
    </test>
    <test name="THY-512: Quote hotel room - time fields">
        <classes>
            <class name="tests.QuoteHotelRoomTimeFields"/>
        </classes>
    </test>
    <test name="THY-570: On Consumption">
        <classes>
            <class name="tests.OnConsumption"/>
        </classes>
    </test>
    <test name="THY-506: Request - Agent">
        <classes>
            <class name="tests.Request_Agent"/>
        </classes>
    </test>
    <test name="THY-588: Packages - custom price">
        <classes>
            <class name="tests.PackagesCustomPrice"/>
        </classes>
    </test>
    <test name="THY-519: History tracking">
        <classes>
            <class name="tests.HistoryTracking"/>
        </classes>
    </test>
    <test name="THY-607: Multi days packages">
        <classes>
            <class name="tests.MultiDaysPackages"/>
        </classes>
    </test>
    <test name="Multi delete testing">
        <classes>
            <class name="tests.MultiDeleteTesting"/>
        </classes>
    </test>
    <test name="Hotel room modification">
        <classes>
            <class name="tests.HotelRoomModifications"/>
        </classes>
    </test>
    <test name="FSDates on quote package">
        <classes>
            <class name="tests.FSDatesOnQuotePackage"/>
        </classes>
    </test>
    <test name="Commission">
        <classes>
            <class name="tests.Commission"/>
        </classes>
    </test>
    <test name="Commission Corrections">
        <classes>
            <class name="tests.CommissionCorrections"/>
        </classes>
    </test>
    <test name="Quote's accounts to Mews">
        <classes>
            <class name="tests.QuotesAccountToMews"/>
        </classes>
    </test>
    <test name="Guest Management Testing">
        <classes>
            <class name="tests.GuestManagementTesting"/>
        </classes>
    </test>
    <test name="Clone Myce quote and clone selection">
        <classes>
            <class name="tests.CloneMyceQuoteAndCloneSelection"/>
        </classes>
    </test>
    <test name="Clone Myce quote and clone selection -overbooking">
        <classes>
            <class name="tests.CloneOverbookingVersion"/>
        </classes>
    </test>
    <test name="Myce quote and deposits">
        <classes>
            <class name="tests.MyceQuoteAndDeposits"/>
        </classes>
    </test>
    <test name="Payment to Mews">
        <classes>
            <class name="tests.PaymentToMews"/>
        </classes>
    </test>
    <test name="Prevent reserved hotel rooms from being deleted">
        <classes>
            <class name="tests.PreventReservedHotelRoomsFromBeingDeleted"/>
        </classes>
    </test>
    <test name="Combo product: tax change">
        <classes>
            <class name="tests.ComboProductTaxChange"/>
        </classes>
    </test>
    <test name="Myce quote - Fill Option date">
        <classes>
            <class name="tests.MyceQuoteFillOptionDate"/>
        </classes>
    </test>
    <test name="Shadow Meeting rooms">
        <classes>
            <class name="tests.ShadowMeetingRooms"/>
        </classes>
    </test>
    <test name="Clone Package testing">
        <classes>
            <class name="tests.ClonePackage"/>
        </classes>
    </test>
    <test name="Overbooking and price update">
        <classes>
            <class name="tests.OverbookingAndPriceUpdate"/>
        </classes>
    </test>
    <test name="Default Setup testing">
        <classes>
            <class name="tests.DefaultSetupTesting"/>
        </classes>
    </test>
    <test name="Error management: null price on product">
        <classes>
            <class name="tests.ErrorManagementNullPriceOnProduct"/>
        </classes>
    </test>
    <test name="Multi edit on quote's related list UAT">
        <classes>
            <class name="tests.MultiEditOnQuotesRelatedList"/>
        </classes>
    </test>
    <test name="Meeting room and resource pricing">
        <classes>
            <class name="tests.MeetingRoomAndResourcePricing"/>
        </classes>
    </test>
    <test name="THY-540: Myce Quote - Complimentary.">
        <classes>
            <class name="tests.Complimentary"/>
        </classes>
    </test>
    <test name="Myce Quote - Complimentary. Change price calculation with handle Unit field.">
        <classes>
            <class name="tests.MyceQuoteComplimentaryChangePriceCalculationWithHandleUnitField"/>
        </classes>
    </test>
    <test name="Move processes to apex">
        <classes>
            <class name="tests.MoveProcessesToApex"/>
        </classes>
    </test>
    <test name="THY-619: Quote product creation">
        <classes>
            <class name="tests.QuoteProductCreation"/>
        </classes>
    </test>
    <test name="Quote product / meeting room interactions">
        <classes>
            <class name="tests.QuoteProductMeetingRoomInteractions"/>
        </classes>
    </test>
    <test name="Overbooking - date times">
        <classes>
            <class name="tests.OverbookingDateTimes"/>
        </classes>
    </test>
    <test name="Create quote meeting room from quote product">
        <classes>
            <class name="tests.CreateQuoteMeetingRoomFromQuoteProduct"/>
        </classes>
    </test>
    <test name="Toast messages testing">
        <classes>
            <class name="tests.ToastMessagesTesting"/>
        </classes>
    </test>
    <test name="Resource grouping">
        <classes>
            <class name="tests.ResourceGroupingTesting"/>
        </classes>
    </test>
    <test name="Myce Quote - release date formula field">
        <classes>
            <class name="tests.MyceQuoteReleaseDateFormulaField"/>
        </classes>
    </test>
    <test name="Quote products - unit + Prices calculation regression">
        <classes>
            <class name="tests.QuoteProductsUnit"/>
        </classes>
    </test>
    <test name="THY-659: Quote accounts to PMS accounts">
        <classes>
            <class name="tests.QuoteAccountsToPMSAccounts"/>
        </classes>
    </test>
    <test name="THY-624: Hotel Inventory">
        <classes>
            <class name="tests.HotelInventory"/>
        </classes>
    </test>
    <test name="TB-261: Reservation Guest created twice">
        <classes>
            <class name="tests.TB.ReservationGuestCreatedTwice"/>
        </classes>
    </test>
    <test name="THY-528: Allow resource selection when adding package.">
        <classes>
            <class name="tests.AllowResourceSelectionWhenAddingPackage"/>
        </classes>
    </test>
    <test name="TB-264: Quote budget - multiproperty quote">
        <classes>
            <class name="tests.TB.QuoteBudgetMultipropertyQuote"/>
        </classes>
    </test>
    <test name="THY-591: Quote hotel room - quantity per night">
        <classes>
            <class name="tests.QuoteHotelRoomQuantityPerNight"/>
        </classes>
    </test>
    <test name="THY-662: Complimentary on quote's related">
        <classes>
            <class name="tests.ComplimentaryOnQuotesRelated"/>
        </classes>
    </test>
    <test name="THY-632: PMS block and Madjustments - Block PMS corrections">
        <classes>
            <class name="tests.PMSBlockAndMadjustmentsMewsInterface"/>
        </classes>
    </test>
    <test name="THY-677: Quote hotel room quantity - Budgets and subtotals">
        <classes>
            <class name="tests.QuoteHotelRoomQuantityBudgetsAndSubtotals"/>
        </classes>
    </test>
    <test name="TB-277: Total tax is not calculated correctly on one Quote.">
        <classes>
            <class name="tests.TB.TotalTaxIsNotCalculatedCorrectlyOnOneQuote"/>
        </classes>
    </test>
    <test name="TB-279: Quote business segment is not sent to Mews.">
        <classes>
            <class name="tests.TB.QuoteBusinessSegmentIsNotSentToMews"/>
        </classes>
    </test>
    <test name="TTB-283: Quote - 'Date' records not generated">
        <classes>
            <class name="tests.TB.QuoteDateRecordsNotGenerated"/>
        </classes>
    </test>
    <test name="TB-294: Availability Lightning component shows inactive room types.">
        <classes>
            <class name="tests.AvailabilityLightningComponentShowsInactiveRoomTypes"/>
        </classes>
    </test>
    <test name="TB-298: Change Date Flow and Canceled Reservations.">
        <classes>
            <class name="tests.TB.ChangeDateFlowAndCanceledReservations"/>
        </classes>
    </test>
    <test name="TB-299: Error 'Snag' Error in changing times in meeting rooms">
        <classes>
            <class name="tests.TB.ErrorInChangingTimesInMeetingRooms"/>
        </classes>
    </test>
    <test name="TB-311: Unable to change Meeting room on Product">
        <classes>
            <class name="tests.TB.UnableToChangeMeetingRoomOnProduct"/>
        </classes>
    </test>
    <test name="THY-546: Optional products">
        <classes>
            <class name="tests.OptionalProducts"/>
        </classes>
    </test>
    <test name="THY-365: Meeting room - Setup">
        <classes>
            <class name="tests.MeetingRoomSetup"/>
        </classes>
    </test>
    <test name="THY-460: MEWS - Availability Block">
        <classes>
            <class name="tests.MEWSavailabilityBlock"/>
        </classes>
    </test>
    <test name="THY-647: Quote hotel room and rate prices">
        <classes>
            <class name="tests.QuoteHotelRoomAndRatePrices"/>
        </classes>
    </test>
    <test name="TB-253: List price is recalculated when discount is changed">
        <classes>
            <class name="tests.TB.ListPriceIsRecalculatedWhenDiscountIsChanged"/>
        </classes>
    </test>
    <test name="THY-660: Account addresses.">
        <classes>
            <class name="tests.AccountAddresses"/>
        </classes>
    </test>
    <test name="THY-541: Clone Myce quote. Quote Name.">
        <classes>
            <class name="tests.CloneMyceQuoteQuoteName"/>
        </classes>
    </test>
    <test name="TB-309: Quote Meeting Room 'Half Day' and 'Break Out' check boxes does not adjust the meeting room
     Unit price if not new">
        <classes>
            <class name="tests.TB.QuoteMeetingRoomHalfDayAndBreakOutCheckBoxesDoesNotAdjustTheMeetingRoomUnitPriceIfNotNew"/>
        </classes>
    </test>
    <test name="TB-316: Hotel Rooms revenue is counted to the Quote Total Hotel Room revenue, despite the Hotel Rooms
     being cancelled.">
        <classes>
            <class name="tests.TB.HotelRoomsRevenueIsCountedToTheQuoteTotalHotelRoomRevenueDespiteTheHotelRoomsBeingCancelled"/>
        </classes>
    </test>
    <test name="THY-663: Quote hotel room quantity - PMS Blocks">
        <classes>
            <class name="tests.QuoteHotelRoomQuantityPMSBlocks"/>
        </classes>
    </test>
    <test name="THY-664: Quote hotel room quantity - Reservations">
        <classes>
            <class name="tests.QuoteHotelRoomQuantityReservations"/>
        </classes>
    </test>
    <test name="THY-665: Quote hotel room quantity - MAdjustment.">
        <classes>
            <class name="tests.QuoteHotelRoomQuantityMAdjustment"/>
        </classes>
    </test>
    <test name="THY-666: Mews Block update">
        <classes>
            <class name="tests.MewsBlockUpdate"/>
        </classes>
    </test>
    <test name="THY-683: Package line rate plan">
        <classes>
            <class name="tests.PackageLineRatePlan"/>
        </classes>
    </test>
    <test name="TB-317: Changing Package lines timing does not change product timing.">
        <classes>
            <class name="tests.TB.ChangingPackageLinesTimingDoesNotChangeProductTiming"/>
        </classes>
    </test>
    <test name="THY-685: Clone Myce Quote and QHRP.Quantity.">
        <classes>
            <class name="tests.CloneMyceQuoteAndQHRPQuantity"/>
        </classes>
    </test>
</suite>





